## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var = 5
var

5

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
CONST = 8.5
type(CONST)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(var)

int

4) Crear una variable que contenga tu nombre

In [5]:
nombre = 'leomar'

5) Crear una variable que contenga un número complejo

In [6]:
comple = 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(comple)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
Pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
var1 = 'True'
var2 = True

var1 == var2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
type(var1)

str

In [11]:
type(var2)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
sum1 = 5 + 2.6

11) Realizar una operación de suma de números complejos

In [1]:
sum_comple = 2j + 4j

12) Realizar una operación de suma de un número real y otro complejo

In [2]:
sum3 = 5.3 + 3j
sum3

(5.3+3j)

13) Realizar una operación de multiplicación

In [15]:
mult = 2 * 2

14) Mostrar el resultado de elevar 2 a la octava potencia

In [16]:
result = 2**8
result

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
cociente = 27 / 4 
cociente

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
cociente2 = 27 // 4 
cociente2

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
resto = 27 % 4 
resto

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
results = 4 * cociente2 + resto
results

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [2]:
var1 = 'hola '
var2 = 'Mundo'
print( var1 + var2)

hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
'2' == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a  = float('3.8')
a

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [32]:
a = 3
a += 1
a

4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [37]:
10 << 2

40

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [3]:
var1 = 'Hola, mundo '
var2 = 2
print(var1 * var2 ,':' , str(2) , ' veces' )

Hola, mundo Hola, mundo  : 2  veces